.footer {
  width: 100vw;
  background-color: #ffffff;
  padding: 24px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 5;
  box-sizing: border-box;
}

.footer-text {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  color: #000000;
  font-family: 'Poppins', sans-serif;
}
